*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
}

html {
  color: #333;
  font-size: 62.5%;
  line-height: 1.7;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.4rem;
}

a {
  color: white;
  font-size: 1.6rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.6rem;
}
th,
td {
  border: 1px solid #ddd;
  padding: 1rem;
  /* width: 100%; */
}
th {
  background-color: #333;
  color: #fff;
}
tr:nth-child(even) {
  background-color: #eee;
}
tr:hover {
  background-color: #ccc;
  cursor: pointer;
}

/* layout */
.defaultLayout {
}

.defaultLayout .main {
  display: flex;
  /* align-items: center; */
  gap: 2rem;
}
.defaultLayout .main .sidebar {
  flex: 1;
  min-width: 300px;
}
.defaultLayout .main .children {
  flex: 6;
}
/* layout */

/*  ********************  */
.--bg-dark {
  background-color: #343a40;
  color: white;
}

.--text-white {
  color: white;
}

.--heading {
  font-weight: bold;
  font-size: 3rem;
  border-bottom: 2px solid #ccc;
  width: max-content;
  margin: 4rem;
}

.--text-center {
  text-align: center;
}
/*  ********************  */ ;
